body {
    font-family: 'Cabin', sans-serif;
}
/*Navbar*/
#logo {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 65px;
}
/*Sección Pedidos*/
.row {
    padding: 20px;
}
h1 {
    border-bottom: 4px solid black;
    padding-top: 10px;
}
.principal-pizza {
    padding: 10px;
    text-align: center;
}
.pizza {
    width: 100%;
    padding: 10px;
}
.texto {
    text-align: left;
    vertical-align: middle;
    margin: auto;
    padding: 5%;
}
/*Carrusel*/
#carouselExampleRide {
    margin: 30px 20px 20px 30px;
}
.img-carrusel {
    width: 30%;
    padding: 10px;
}
/*Detalles Preparación*/
.receta {
    border-top: 4px solid black;
    padding-top: 10px;
}
.detalle-receta h3 {
    padding: 20px;
    font-weight: bold;
    text-decoration: underline;
}
article {
    padding: 20px;
}
.preparacion, .ingredientes {
    padding: 20px;
}
/*Recetas Relacionadas*/
#relacionadas {
    border-top: 4px solid black;
    padding-top: 10px;
    margin: 40px;
}
h2 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.card {
    margin: 10px;
    width: 18rem;
}
/*Newsletter*/
#Newsletter {
    padding: 20px;
    background-color: #DC3545;
    color: white;
    text-align: center;
    justify-content: center;
}
#Newsletter h3 {
    font-weight: bold;
}
/*Footer*/
footer{
    background-color: black;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.logo-footer {
    font-size: 40px;
    color: white;
}